setuptools>=68.0.0
wheel>=0.41.0
fastapi~=0.115.13
uvicorn[standard]
gunicorn
sqlalchemy~=2.0.41
psycopg2-binary
python-dotenv
python-telegram-bot~=20.7
apscheduler~=3.10.4
ccxt~=4.4.90
pydantic-settings
pytest~=8.4.1
pytest-asyncio
pandas~=2.3.0
numpy<2.0.0
scipy
pydantic~=2.11.7
mexc-api
aiohttp>=3.8.0
bitunix
